<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<!-- Add heading 1-->
    <h1>About Me</h1>
    <h2> Who Am I</h2>
        <p> My name is Loc Le and I am a senior at University of Maryland.
            I am currently taking 4 classes and one of my favorite classes
            that I’m taking right now is <strong>BMGT407</strong>. We are learning
            on how to code a html website by helping our client with a project
            proposal. The hardest class that I am taking right now is <strong>Econ305</strong>.
            I currently spend most of my time outside of school to understand
            that subject. I work in a small car dealership and do enjoy the new
            thing that I do each day.  </p>
    <h2> Hobbies</h2>
    <p>In my free time I do enjoy playing <em>basketball</em>.
            On Friday night after a long day of work, me and a couple
            friends go play basketball on UMD Campus. I also enjoy taking
        a <em>nature walk</em> while breathing in fresh air. What do you guys enjoy?</p>
<!-- Creating unorder list-->
    <p> Favorite Food</p>
        <ul>
            <li>Pho</li>
            <li>Tacos</li>
            <li>Hotdos</li>
            <li>Steak</li>
            <li>Pizza</li>
        </ul>
    <p> Favorite Current Basketball Players</p>
        <ol>
            <li>Lebron James</li>
            <li>Kevin Durant</li>
            <li>Jimmy Butler</li>
            <li>Anthony Davis</li>
            <li>Malik Monk</li>
        </ol>
<p>Courses I have taken</p>
    <table>
        <tr>
            <th>Course</th>
            <th>Semester</th>
            <th>Credits</th>
        </tr>
        <tr>
            <th>BMGT402</th>
            <th>Fall 2022</th>
            <th>3</th>
        </tr>
        <tr>
            <th>BMGT403</th>
            <th>Fall 2022</th>
            <th>3</th>
        </tr>
        <tr>
            <th>BMGT407</th>
            <th>Spring 2023</th>
            <th>3</th>
        </tr>
        <tr>
            <th>ECON403</th>
            <th>Spring 2023</th>
            <th>3</th>
        </tr>
    </table>

<p>Here is my link to <a href="/hello">Hello</a></p>
<!-- Adding Favorite Website-->
<p>My two favorite websites are
    <a href="https://www.youtube.com/" target="_blank">Youtube</a>
    and
    <a href="https://abcnews.go.com/" target="_blank">ABCnews</a>
</p>
<!-- Adding Logo-->
<p>Here is the Robert H. Smith logo </p>
<img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" alt="UMD Smith School Logo"
     width="280" height="72">

</body>
</html>